h1 {
	font-size: 150%;
	font-weight: 300;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 5px;
}
h2 {
	font-size: 12px;
	font-style: italic;
	color: gray;
	margin-top: 5px;
	margin-bottom: 5px;
}
#everything{
	width:600px;
	margin:20px;
}
#chart {
	width:600px;
	height:400px;
}
.bar {
	fill: #0078FF;
}
text.label {
	fill: #FFF;
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
}
text.category {
	fill: #FFF;
	font-size: 14px;
}